extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

    p Available Pages and Demos
    ul
      li 
        a(href="/home-page") Home Page
      li 
        a(href="/social-media") Social Media