<div id="homePageContainer" class="container-fluid">
    <p class="whiteText centeredText largeText">Albert Patterson</p>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div id="picture" class="thumbnail">
            <img src="assets/me.png">
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <nav id="nav" class="navbar navbar-default">
            <ul id="navList" class="fullwidth nav nav-stacked">
                <li>
                    <a class="personalDetail" href="mailto:apatterson@alumni.cmu.edu">apatterson@alumni.cmu.edu</a>
                </li>
                <li>
                    <a class="personalDetail" href="https://www.linkedin.com/in/apattersoncmu/">LinkedIn</a>
                </li>
                <li>
                    <a class="personalDetail" href="https://github.com/albertpatterson">GitHub</a>
                </li>
            </ul>
          </nav>
      </div>
      <div class="col-md-0 col-lg-2"></div>
    </div>
    <div class="well">
      <p class="sectionTitle">Bio</p>
      <p id="bio">I am passionate about learning and growing through challenging projects and assignments, and I enjoy collaborating with others who are passionate about their craft. My expertise is in full-stack web development and testing. At MathWorks, I work with the Quality Engineering team and focus on testing of web applications using QUnit and FuncUnit, but in my free time I also enjoy using JavaScript/Angular/HTML5/CSS with Node.js or Java to implement fast, interactive web application and using Jasmine/Karma to test my own apps.</p>
    </div>
    <div class="well">
      <p class="sectionTitle">Personal Projects</p>
      <div class="row">
        <ul class="sectionItemList">
  
          <li class="sectionItem">
            <p class="sectionItemMain">Social Media Site: <a href="/social-media">Demo</a></p>
            <ul class = "sectionItemMainDetails">
              <li>
                  Front End: <a href="https://github.com/albertpatterson/SocialMediaSite-Angular-Front-End">Source Code</a> 
                  <ul>
                    <li>
                      Developed a social media site using the MEAN stack and deployed it on an EC2 instance, allowing users to create and browse profiles, follow other users, send messages, post comments and upload media.
                    </li>                                     
                  </ul>
              </li>
              <li>
                  Back End (Node.js and Express.js): <a href="https://github.com/albertpatterson/SocialMediaSite-API-Mongo-Node-Express">Source Code</a>
                  <ul>
                    <li>
                      Developed an implementation of the back end in Node.js using Express.js to expose the web API, handle requests, and query and update data stored in a MongoDB database
                    </li>
                  </ul>                  
              </li>
              <li>
                  Back End (Java and Servlets): <a href="https://github.com/albertpatterson/SocialMediaSite-API-Mongo-Servlet">Source Code</a>
                  <ul>
                    <li>
                      Developed a second implementation of the back end using Java and Servlets, providing the same functionality as the Node.js implementation
                    </li>
                  </ul>                          
              </li>
            </ul>
          </li>
  
          <li class="sectionItem">
            <p class="sectionItemMain">Weather Widget: <a href="https://github.com/albertpatterson/WeatherWidget">Source Code</a>, <a id="weatherWidgetDemoCollapseButton" data-toggle="collapse" data-target="#weatherWidgetDemoCollapse">Demo</a></p>
            <div class="collapse" id="weatherWidgetDemoCollapse">
              <div id="weatherWidgetDemo">
                <variable-location-weather-widget></variable-location-weather-widget>
              </div>
            </div>
            <ul class = "sectionItemMinorDetails">
              <li>
                  Designed and developed an Angular component with services that allows a user to select their location and then fetches and displays weather data in a theme based on current weather
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Transitions and Animations: <a href="https://github.com/albertpatterson/style_transitions_animations">Source Code</a>, <a id="animationsAndTransitionsDemoCollapseButton" data-toggle="collapse" data-target="#animationsAndTransitionsDemoCollapse">Demo</a></p>
            <div class="collapse" id="animationsAndTransitionsDemoCollapse">
              <iframe id="animationsAndTransitionsDemo" src="/transitions-animations-gallery/"></iframe>
            </div>
            <ul class = "sectionItemMinorDetails">
              <li>
                  Designed a gallery of small widgets applying CSS transitions and animations
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">IP Updater: <a href="https://github.com/albertpatterson/IP-Updater">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                Developed a Node.js utility to regularly query the IP address of a machine (which is typically dynamic) and update the value stored in a shared document so that the machine can always be accessed remotely
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Searchable Movie List: <a href="https://github.com/albertpatterson/SearchableMovieList">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                Developed a simple app providing a searchable movie list, which utilizes all parts of the full web stack and is useful for trying out new technologies
              </li>
              <li>
                This version utilizes plain HTML, Node.js &amp; Express, and DynamoDB for deployment via Elastic Beanstalk (Amazon Web Sevices/AWS)
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Two-Port Band-Pass Filter Simulation: <a href="https://github.com/albertpatterson/Two-Port-Band-Pass-Filter-Simulation">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                Created C++ utilities for simulating the frequency response of two-port filters
              </li>
            </ul>
          </li>          

          <li class="sectionItem">
            <p class="sectionItemMain">Bookmarklets: <a href="https://github.com/albertpatterson/bookmarklets">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                Developed a library of bookmarklets for automating common web browsing tasks
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>


    <div class="well">
      <p class="sectionTitle">Experience</p>
      <ul class="sectionItemList">

          <li class="sectionItem">

            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">MathWorks</p>
              <p class="col-md-4 centerText">Software Engineer in Test</p>
              <p class="col-md-4 centerText">September 2016 - Present</p>
            </div>
            <ul class = "sectionItemMainDetails">

              <li>
                Developed a JavaScript test tool for client side memory leak detection in Chrome, using the performance API
                <ul>
                  <li>
                    Used this tool to create memory tests for web apps to track memory usage and quickly detect regressions, preventing serious performance degradation
                  </li>
                  <!-- <li>
                    detail 2
                  </li>                                      -->
                </ul>
              </li>

              <li>
                Developed JavaScript test tools to perform system level testing of App Designer (a MATLAB web app) by sending HTTP requests to MATLAB and synchronizing response handling with asynchronous FuncUnit actions
                <ul>
                  <li>
                    Gave a department-wide tech-talk on communicating with MATLAB in JavaScript tests and its applications
                  </li>
                  <li>
                    Used this tool to create tests for several features that had previously suffered many serious regressions that were detected very late due to the feature being untestable
                  </li>                                     
                </ul>
              </li>

              <li>
                Develop and maintain test strategies and procedures, test tools, and suites of automated integration and system level tests of the functional behavior and performance of web applications and widgets 
                <ul>
                  <li>
                    Debug test failures to identify their root cause in the software or test 
                  </li>
                  <li>
                    Create new tests as new features are added or software regressions are detected 
                  </li>                                     
                </ul>
              </li>

              <!-- <li>
                Project 2
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
                </li> -->

            </ul>

          </li>
  
          <li class="sectionItem">
              <div class="sectionItemMain row">
                <p class="col-md-4 centerText">MathWorks</p>
                <p class="col-md-4 centerText">Application Support Engineer</p>
                <p class="col-md-4 centerText">May 2015 - September 2016</p>
              </div>
              <ul class = "sectionItemMainDetails">
                  
                <li>
                  Lead a team of engineers and trained new hires to provided technical support via email and telephone for MathWorks customers on topics such as core MATLAB, OOP, optimization, statistics, and graphics
                  <ul>
                    <li>
                      Provided technical and procedural guidance to new ASEs empowering them to quickly resolve customer issues 
                    </li>
                    <li>
                      Focused on teaching and fostering independence in resolving customer issues to enable new ASEs to ramp up quickly and provide fast, accurate information and technical solutions to our customers
                    </li> 
                    <li>
                      Shadowed ASEs during their first week of supporting customers via telephone, teaching the appropriate workflows and procedures for working with customers in order to quickly identify the issues they faced and to clearly explain how to resolve the issues
                    </li>     
                    <li>
                      Proofread emails sent to customers by new hires, focusing on clear communication with the customer, identification of the underlying root cause, and problem solving techniques 
                    </li>                                                                             
                  </ul>
                </li>
  
                <li>
                  Personally completed over 400 technical support cases
                  <ul>
                    <li>
                        Worked directly with customers via telephone and email to address technical issues, focusing on quickly understanding the issues faced by the customer and then clearly and thoroughly explaining the technical solution
                    </li>                                  
                  </ul>
                </li>

                <li>
                    Lead trainings
                    <ul>
                      <li>
                        Lead an internal introduction to MATLAB course provided to new Application Support Engineers and Quality engineers, focusing on coding practices and graphics
                      </li>
                      <li>
                        Lead an internal training focusing on advanced mathematics such as statics, optimization, and curve fitting
                      </li>
                      <li>
                        Presented to groups as large as 30 students and lead group discussions 
                      </li>
                      <li>
                        Worked individually with students to identify and address obstacles they faced and clarify concepts
                      </li>
                      <li>
                        Developed training material to teach MATLAB usage for symbolic mathematics, statistics, and optimization
                      </li>
                    </ul>
                </li>
  
                <li>
                  Worked with four Quality Engineering teams to develop test strategies, suits, and tools for MATLAB desktop features and apps
                  <!-- <ul>
                    <li>
                      detail 1
                    </li>
                    <li>
                      detail 2
                    </li>                                     
                  </ul> -->
                </li>

                <!-- <li>
                  Project 2
                  <ul>
                    <li>
                      detail 1
                    </li>
                    <li>
                      detail 2
                    </li>                                     
                  </ul>
                </li> -->

              </ul>

          </li>

      </ul>
    </div>
    <div class="well">
        <p class="sectionTitle">Education</p>
        <ul class="sectionItemList">
          
          <li class="sectionItem">
            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">Carnegie Mellon Univerisity</p>
              <p class="col-md-4 centerText">MS. Electrical and Computer Engineering</p>
              <p class="col-md-4 centerText">December 2014</p>
            </div>
            <ul class = "sectionItemMainDetails">
              
              <li>
                GPA: 3.52/4.00
              </li>

              <li>
                Selected Coursework
                <ul>
                  <li>
                    Developed evolutionary strategy and simulated annealing algorithms for optimization of an array of MEMS filters subject to design constraints, compensating for process variations which limit yield and performance
                  </li>
                  <li>
                    Developed packages for applying compressed sensing for image compression and reconstruction, and for classifying brain signals via a support vector machine using an interior point method with Newton’s method
                  </li>                                     
                </ul>
              </li>

              <li>
                Research
                <ul>
                  <li>
                    Developed 3D-integrated, MEMS-CMOS, self-healing, ultra-high frequency band-pass filters to enhance device yield and performance, compensate for performance-limiting variations, and enable device reconfigurability
                  </li>
                  <li>
                    Developed an extensive package of tools for RF MEMS modelling, layout optimization, and yield analysis
                  </li>                                     
                </ul>
              </li>

              <!-- <li>
                Publications
                <ul>
                  <li>
                    1
                  </li>
                  <li>
                    2
                  </li>                                     
                </ul>
              </li> -->

              <li>
                Accolades
                <ul>
                  <li>
                    Carnegie Institute of Technology Dean’s Tuition Fellowship
                  </li>                                  
                </ul>
              </li>

            </ul>

          </li>

          <li class="sectionItem">
            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">University of the South</p>
              <p class="col-md-4 centerText">BS. Physics</p>
              <p class="col-md-4 centerText">August 2010</p>
            </div>
            <ul class = "sectionItemMainDetails">
                
              <li>
                  GPA: 3.91/4.00
              </li>

              <li>
                Accolades
                <ul>
                  <li>
                    Dean’s List - six semesters
                  </li>    
                  <li>
                    Sigma Pi Sigma honor society
                  </li>    
                  <li>
                    Phi Beta Kappa honor society
                  </li>    
                  <li>
                    The Order of Gownsmen honor society
                  </li>    
                  <li>
                    Academic Competitiveness Grant: 2006, 2007
                  </li>    
                  <li>
                    National SMART Grant: 2008 and 2009
                  </li>                                   
                </ul>
              </li>

            </ul>

          </li>

        </ul>
  </div >