#homePageContainer {
    background:#292828;
}

.whiteText{
    color: white;
}

.centeredText{
    text-align: center;
}

.largeText{
    font-size: 75px;
}

.headshotCont {
    display: inline-block;
    vertical-align: middle;
}

#picture{
    background: #292828;
    border: none;
}

#navContainer{
    width:100%;
}

#nav{
    margin-left:auto;
    margin-right: auto;
}

#nav a{
    font-size:33px;
}

@media(max-width: 520px){
    #nav a{
        font-size:6.25vw;
    }
}

@media(min-width: 992px){
    #nav {
        width:450px;        
        margin-top: 128px;
    }
}

#nav li{
    overflow: hidden;
}

#bio{
    margin-top: 25px;
    font-size: 18px;
}

.personalDetail{
    font-size: 24px;
}

.sectionTitle{
    margin-top: -20px;
    margin-bottom: -25px;
    color: #337ab7;
    font-size: 35px;   
    text-align: center; 
}

.sectionItemList{
    list-style: none;
    padding-left: 0px;
}

.sectionItemMain{
    font-weight: bold;
    font-size: 25px;
}

.sectionItem{
    margin: 25px 0px;
}

.sectionItemMainDetails{
    margin-top: -25px;
}

.sectionItemMainDetails>li{
    font-size: 18px;
    margin: 25px 0px;
}

.sectionItemMinorDetails{
    margin-top: -10px;
}

.sectionItemMinorDetails>li{
    font-size: 18px;
}

.leftText{
    text-align: left;
}

.centerText{
    text-align: center;
}

.rightText{
    text-align: right;
} 

#weatherWidgetDemo{
    width: 400px;
    max-width: 100%;
    margin: 0 auto 10px auto;
    background-color: rgba(51, 122, 183, 0.13);
}

#animationsAndTransitionsDemo{
    width: 100%;
    height: 330px;
}