<div class="container-fluid">
  <p class="whiteText centeredText largeText">Albert Patterson</p>
  <div class="header row">
    <div class="col-md-4 h350">
      <div id="picture" class="thumbnail">
          <img src="assets/businessCat.png">
      </div>
    </div>
    <div class="col-md-8 h350">
        <nav id="nav" class="navbar navbar-default valign">
          <ul class="nav nav-stacked">
              <li>
                  <a class="personalDetail" href="mailto:apatterson@alumni.cmu.edu">apatterson@alumni.cmu.edu</a>
              </li>
              <li>
                  <a class="personalDetail" href="https://www.linkedin.com/in/apattersoncmu/">LinkedIn</a>
              </li>
              <li>
                  <a class="personalDetail" href="https://github.com/albertpatterson">gitHub</a>
              </li>
          </ul>
        </nav>
    </div>
  </div>
  <div class="well">
    <p class="sectionText centeredText mediumText">Bio</p>
    <div class="row">
    </div>
  </div>
  <div class="well">
    <p class="sectionText centeredText mediumText">Personal Projects</p>
    <div class="row">
    </div>
  </div>
  <div class="well">
    <p class="sectionText centeredText mediumText">Experience</p>
    <div class="row">
    </div>
  </div>
  <div class="well">
      <p class="sectionText centeredText mediumText">Education</p>
      <div class="row">
      </div>
    </div>  
</div >
