<div class="container-fluid">
  <p class="whiteText centeredText largeText">Albert Patterson</p>
  <div class="header row">
    <div class="col-md-4 h350">
      <div id="picture" class="thumbnail">
          <img src="app/assets/businessCat.png">
      </div>
    </div>
    <div class="col-md-8 h350">
        <nav id="nav" class="navbar navbar-default valign">
          <ul class="nav nav-stacked">
              <li>
                  <a class="personalDetail" href="mailto:apatterson@alumni.cmu.edu">apatterson@alumni.cmu.edu</a>
              </li>
              <li>
                  <a class="personalDetail" href="https://www.linkedin.com/in/apattersoncmu/">LinkedIn</a>
              </li>
              <li>
                  <a class="personalDetail" href="https://github.com/albertpatterson">gitHub</a>
              </li>
          </ul>
        </nav>
    </div>
  </div>
  <div class="well">
    <p class="sectionTitle">Bio</p>
    <div class="row">
    </div>
  </div>
  <div class="well">
    <p class="sectionTitle">Personal Projects</p>
    <div class="row">
      <ul class="sectionItemList">

        <li class="sectionItem">
          <p class="sectionItemMain">Social Media Site: <a href="#">Demo</a></p>
          <ul class = "sectionItemDetails">
            <li>
                Front End: <a href="#">Source Code</a> - description
            </li>
            <li>
                Back End (Node.js and Express.js): <a href="#">Source Code</a> - description
            </li>
            <li>
                Back End (Java and Servlets): <a href="#">Source Code</a> - description
            </li>
          </ul>
        </li>

        <li class="sectionItem">
          <p class="sectionItemMain">Weather Widget: <a href="#">Source Code</a>, <a href="#">Demo</a></p>
          <ul class = "sectionItemDetails">
            <li>
              description 1
            </li>
            <li>
              description 2
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <div class="well">
    <p class="sectionTitle">Experience</p>
    <ul class="sectionItemList">
        <li class="sectionItem">
          <div class="sectionItemMain row">
            <p class="col-md-4 centerText">MathWorks</p>
            <p class="col-md-4 centerText">Software Engineer in Test</p>
            <p class="col-md-4 centerText">September 2016 - Present</p>
          </div>
          <p class = "sectionItemDetails">Experience Description</p>
        </li>

        <li class="sectionItem">
            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">MathWorks</p>
              <p class="col-md-4 centerText">Software Engineer in Test</p>
              <p class="col-md-4 centerText">September 2016 - Present</p>
            </div>
            <p class = "sectionItemDetails">Experience Description</p>
          </li>

          <li class="sectionItem">
              <div class="sectionItemMain row">
                <p class="col-md-4 centerText">MathWorks</p>
                <p class="col-md-4 centerText">Software Engineer in Test</p>
                <p class="col-md-4 centerText">September 2016 - Present</p>
              </div>
              <p class = "sectionItemDetails">Experience Description</p>
            </li>
    </ul>
  </div>
  <div class="well">
      <p class="sectionTitle">Education</p>
      <div class="row">
      </div>
    </div>  
</div >
