<div class="container-fluid">
    <p class="whiteText centeredText largeText">Albert Patterson</p>
    <div class="header row">
      <div class="col-md-4 h350">
        <div id="picture" class="thumbnail">
            <img src="assets/businessCat.png">
        </div>
      </div>
      <div class="col-md-8 h350">
          <nav id="nav" class="navbar navbar-default valign">
            <ul class="nav nav-stacked">
                <li>
                    <a class="personalDetail" href="mailto:apatterson@alumni.cmu.edu">apatterson@alumni.cmu.edu</a>
                </li>
                <li>
                    <a class="personalDetail" href="https://www.linkedin.com/in/apattersoncmu/">LinkedIn</a>
                </li>
                <li>
                    <a class="personalDetail" href="https://github.com/albertpatterson">GitHub</a>
                </li>
            </ul>
          </nav>
      </div>
    </div>
    <div class="well">
      <p class="sectionTitle">Bio</p>
      <div class="row">
      </div>
    </div>
    <div class="well">
      <p class="sectionTitle">Personal Projects</p>
      <div class="row">
        <ul class="sectionItemList">
  
          <li class="sectionItem">
            <p class="sectionItemMain">Social Media Site: <a href="/social-media">Demo</a></p>
            <ul class = "sectionItemMainDetails">
              <li>
                  Front End: <a href="#">Source Code</a> 
                  <ul>
                    <li>
                      Description of front end project
                    </li>
                    <li>
                      Description of front end project
                    </li>
                    <li>
                      Description of front end project
                    </li>                                        
                  </ul>
              </li>
              <li>
                  Back End (Node.js and Express.js): <a href="#">Source Code</a>
                  <ul>
                    <li>
                      Description of back end node project
                    </li>
                  </ul>                  
              </li>
              <li>
                  Back End (Java and Servlets): <a href="#">Source Code</a>
                  <ul>
                    <li>
                      Description of back end java project
                    </li>
                  </ul>                          
              </li>
            </ul>
          </li>
  
          <li class="sectionItem">
            <p class="sectionItemMain">Weather Widget: <a href="#">Source Code</a>, <a data-toggle="collapse" data-target="#weatherWidgetDemoCollaps">Demo</a></p>
            <div class="collapse" id="weatherWidgetDemoCollaps">
              <div id="weatherWidgetDemo">
                <variable-location-weather-widget></variable-location-weather-widget>
              </div>
            </div>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Transitions and Animations: <a href="https://github.com/albertpatterson/style_transitions_animations">Source Code</a>, <a data-toggle="collapse" data-target="#animationsAndTransitionsDemoCollapse">Demo</a></p>
            <div class="collapse" id="animationsAndTransitionsDemoCollapse">
              <iframe id="animationsAndTransitionsDemo" src="/transitions-animations-gallery/"></iframe>
            </div>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">IP Updater: <a href="https://github.com/albertpatterson/IP-Updater">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Searchable Movie List: <a href="https://github.com/albertpatterson/SearchableMovieList">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>

          <li class="sectionItem">
            <p class="sectionItemMain">Two-Port Band-Pass Filter Simulation: <a href="https://github.com/albertpatterson/Two-Port-Band-Pass-Filter-Simulation">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>          

          <li class="sectionItem">
            <p class="sectionItemMain">Bookmarklets: <a href="https://github.com/albertpatterson/bookmarklets">Source Code</a></p>
            <ul class = "sectionItemMinorDetails">
              <li>
                description 1
              </li>
              <li>
                description 2
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>


    <div class="well">
      <p class="sectionTitle">Experience</p>
      <ul class="sectionItemList">

          <li class="sectionItem">

            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">MathWorks</p>
              <p class="col-md-4 centerText">Software Engineer in Test</p>
              <p class="col-md-4 centerText">September 2016 - Present</p>
            </div>
            <ul class = "sectionItemMainDetails">

              <li>
                Project 1
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

              <li>
                Project 2
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

            </ul>

          </li>
  
          <li class="sectionItem">
              <div class="sectionItemMain row">
                <p class="col-md-4 centerText">MathWorks</p>
                <p class="col-md-4 centerText">Application Support Engineer</p>
                <p class="col-md-4 centerText">May 2015 - September 2016</p>
              </div>
              <ul class = "sectionItemMainDetails">
                  
                <li>
                  Project 1
                  <ul>
                    <li>
                      detail 1
                    </li>
                    <li>
                      detail 2
                    </li>                                     
                  </ul>
                </li>
  
                <li>
                  Project 2
                  <ul>
                    <li>
                      detail 1
                    </li>
                    <li>
                      detail 2
                    </li>                                     
                  </ul>
                </li>
  
              </ul>

          </li>

      </ul>
    </div>
    <div class="well">
        <p class="sectionTitle">Education</p>
        <ul class="sectionItemList">
          
          <li class="sectionItem">
            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">Carnegie Mellon Univerisity</p>
              <p class="col-md-4 centerText">MS. Electrical and Computer Engineering</p>
              <p class="col-md-4 centerText">December 2014</p>
            </div>
            <ul class = "sectionItemMainDetails">
                
              <li>
                Project 1
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

              <li>
                Project 2
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

            </ul>

          </li>

          <li class="sectionItem">
            <div class="sectionItemMain row">
              <p class="col-md-4 centerText">Univesity of the South</p>
              <p class="col-md-4 centerText">BS. Physics</p>
              <p class="col-md-4 centerText">August 2010</p>
            </div>
            <ul class = "sectionItemMainDetails">
                
              <li>
                Project 1
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

              <li>
                Project 2
                <ul>
                  <li>
                    detail 1
                  </li>
                  <li>
                    detail 2
                  </li>                                     
                </ul>
              </li>

            </ul>

          </li>

        </ul>
  </div >